@model Zamowienia.Models.OrderFormModel

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="listaPrzedmiotow">Lista Przedmiotów</label>
        <input type="text" class="form-control" id="listaPrzedmiotow" name="ListaPrzedmiotow" value="@Model.ListaPrzedmiotow" />
    </div>

    <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
</form>
