@{
    ViewData["Title"] = "Zamówienie Złożone";
}

<h2>Zamówienie Złożone</h2>

<p>Twoje zamówienie zostało pomyślnie złożone.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Powrót do strony głównej</a>
