@{
    ViewData["Title"] = "Dostęp Zabroniony";
}

<h2>Dostęp Zabroniony</h2>
<p>Nie masz uprawnień do przeglądania tej strony.</p>
<a class="btn btn-primary" href="@Url.Action("Index", "Home")">Powrót na stronę główną</a>